body {
    margin: 0;
}

.container  {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 24px;
    gap: 24px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.square {
    border: .1px solid black;
    box-sizing: border-box;
    aspect-ratio: 1;
}

.colored {
    background-color: black;
}