body {
    margin: 0;
}

.container  {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 24px;
    gap: 24px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    aspect-ratio: 1;
}

.square {
    border: .1px solid rgb(128, 79, 79);
    box-sizing: border-box;
    aspect-ratio: 1;
    opacity: .1;
}